@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700&family=Josefin+Sans:wght@300;400;600&family=Kanit&family=Karla:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;500;600&family=Overpass:wght@400;700&family=Poppins:wght@200&family=Rajdhani:wght@400;500;700&family=Red+Hat+Display:wght@500;700;900&family=Righteous&display=swap');

*{
	margin: 0;
	padding: 0;
 	box-sizing: border-box;
}
 

main{
	font-family: 'Righteous', cursive;
	min-height: 100vh;
	background: linear-gradient(#000f20,#004b9f,#0077fd);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.section-name	{
	margin-top: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: linear-gradient(#000f20,#004b9f,#0077fd);
	border-radius: 10px;
	box-shadow: 0px 10px 16px -4px rgba(0,0,0,0.9);
	width: 80%;
	height: 600px;
}


.redes {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 20px;
	flex-wrap: wrap;
}

.redes a {
	display: flex;
	align-items: center;
	background: linear-gradient(#c8c8c8,#808080,#303030);
	width: 250px;
	height: 50px;
	border-radius: 10px;
	text-decoration: none;
	color: #bfbfbf;
	transition: 0.8s;
	vertical-align: bottom;
	box-shadow: 0px 10px 16px -4px rgba(0,0,0,0.9);
}

.tecnologias{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 20px;
	flex-wrap: wrap;
}

.tecnologias a {
	display: flex;
	align-items: center;
	background: linear-gradient(#c8c8c8,#808080,#303030);
	width: 250px;
	height: 50px;
	border-radius: 10px;
	text-decoration: none;
	color: #bfbfbf;
	transition: 0.8s;
	vertical-align: bottom;
	box-shadow: 0px 10px 16px -4px rgba(0,0,0,0.9);
}

.container-redes{
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(#000f20,#004b9f,#0077fd);
	box-shadow: 0px 10px 16px -4px rgba(0,0,0,0.9);
	border-radius: 10px;
	width: 80%;
	height: 200px;
	margin-bottom: 40px;

}

.container-tecnologias{
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(#000f20,#004b9f,#0077fd);
	box-shadow: 0px 10px 16px -4px rgba(0,0,0,0.9);
	border-radius: 10px;
	width: 80%;
	height: 200px;
}


.redes h2 {
	font size: 10px;
}
.redes a:hover{
	cursor: pointer;
	transform: scale(1.1);
}

h1 {
	color: #bfbfbf;
}

h1 span {
	color: #000000;
	font-size: 60px;
	
}

h2 {
	color: #bfbfbf;
}
.frontend {
	border: 1px solid  #bfbfbf;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 5px;
	color: #bfbfbf;
}


.me{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: 10px;
	box-shadow: 0px 10px 16px -4px rgba(0,0,0,0.9);
}

.icon{
	width: 60px;
	height: 60px;
	margin-right: 10px;
}


@media (max-width: 1000px){
	.container-tecnologias{
		height: 400px;
	}
	.container-redes{
		height: 500px;
	}

}